<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="column is-one-fourth title has-text-white" style="font-family: 'Hind Siliguri', sans-serif;">
          DBMS Team-25
        </div>
      </div>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-white" href="{{ url_for('homepage') }}">
              <strong class="has-text-dark">
                Home
                <i class="fa fa-home" aria-hidden="true"></i>
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>