<section class="hero is-dark">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <h1 class="title" style="color: aqua; font-family: 'Raleway', sans-serif;">
          DBMS PROJECT
        </h1>
        <h2 class="subtitle" style="color: aqua;">
          TEAM - 25
        </h2>
      </div>
      <div class="is-right">
        <div class="buttons">
          <a class="button is-medium" style="background: aqua; border: none; font-family: 'Raleway', sans-serif;" href="{{ url_for('homepage') }}">
            <i class="fa fa-home" aria-hidden="true"></i>
            HOME
          </a>
          <a class="button is-medium" style="background: aqua; border: none; font-family: 'Raleway', sans-serif;" href="{{ url_for('queries') }}">
            <i class="fa fa-code" aria-hidden="true"></i>
            QUERIES
          </a>
          <a class="button is-medium" style="background: aqua; border: none; font-family: 'Raleway', sans-serif;" href="{{ url_for('enterInfo') }}">
            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            ANALYSIS
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="padding: 1px; background: aqua;"></div>