{% extends 'index.html' %}

{% block body %}

<div class="container" style="font-family: 'IBM Plex Mono', monospace;">
    <div class="section">
        <table class="table is-fullwidth is-bordered is-striped">
            <tr class="is-selected">
                <th>BRANCH ID</th>
                <th>BRANCH NAME</th>
                <th>HEAD OF DEPARTMENT</th>
                <th>INCEPTION</th>
            </tr>
            {% for i in info %}
                <tr>
                    <td>{{ i['BranchID'] }}</td>
                    <td>{{ i['Name'] }}</td>
                    <td>{{ i['HOD'] }}</td>
                    <td>{{ i['Year'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}