{% extends 'index.html' %}

{% block body %}

<div style="font-family: 'IBM Plex Mono', monospace;">
    <div class="section">
        <table class="table is-fullwidth is-bordered is-striped">
            <tr class="is-selected">
                <th>FACULTY ID</th>
                <th>NAME</th>
                <th>BRANCH ID</th>
                <th>DESIGNATION</th>
                <th>ROOM NO.</th>
            </tr>
            {% for i in info %}
                <tr>
                    <td>{{ i['FacultyID'] }}</td>
                    <td>{{ i['Name'] }}</td>
                    <td>{{ i['BranchID'] }}</td>
                    <td>{{ i['Post'] }}</td>
                    <td>{{ i['RoomID'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}