{% extends 'index.html' %}

{% block body %}

<div class="section">
    <h1 class="title has-text-dark" style="font-family: 'PT Sans Caption', sans-serif;">
        <center><u>
            Database Tables
        </center></u>
    </h1>
    <div class="section"></div>
    <strong>
    <div class="columns">
        <div class="column button is-2 is-dark is-large is-outlined">
            <i class="fa fa-users" aria-hidden="true"></i>
            Students Data
        </div>
        <div class="column button is-2 is-offset-1 is-white is-large">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Faculty Data
        </div>
        <div class="column button is-2 is-offset-1 is-dark is-large is-outlined">
            Branch Data
        </div>
        <div class="column button is-2 is-offset-1 is-white is-large">
            Course Data
        </div>
    </div>
    <div class="columns" style="padding-top: 40px;">
        <div class="column button is-2 is-dark is-large is-outlined">
            Room Data
        </div>
        <div class="column button is-2 is-offset-1 is-white is-large">
            FMS Data
        </div>
        <div class="column button is-2 is-offset-1 is-dark is-large is-outlined">
            Mess Data
        </div>
        <div class="column button is-2 is-offset-1 is-white is-large">
            Complaints Data
        </div>
    </div>
    </strong>
</div>

{% endblock %}