{% extends 'index.html' %}

{% block body %}

<div class="section">
    <h1 class="title has-text-dark" style="font-family: 'PT Sans Caption', sans-serif;">
        <center><u>
            <i class="fa fa-database" aria-hidden="true"></i>
            Database Tables
        </center></u>
    </h1>
    <div class="section"></div>
    <strong>
    <div class="columns" style="font-family: 'Ovo', serif;">
        <div class="column button is-2 is-primary is-large">
            <i class="fa fa-users" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                Students Data
            </a>
        </div>
        <div class="column button is-2 is-offset-1 is-primary is-large">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            <a href="{{ url_for('showFaculty') }}">
                Faculty Data
            </a>
        </div>
        <div class="column button is-2 is-offset-1 is-primary is-large">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                Branch Data
            </a>
        </div>
        <div class="column button is-2 is-offset-1 is-primary is-large">
            <i class="fa fa-book" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                Course Data
            </a>
        </div>
    </div>
    <div class="columns" style="padding-top: 40px; font-family: 'Ovo', serif;">
        <div class="column button is-2 is-primary is-large">
            <i class="fa fa-bed" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                Room Data
            </a>
        </div>
        <div class="column button is-2 is-offset-1 is-primary is-large">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                FMS Data
            </a>
        </div>
        <div class="column button is-2 is-offset-1 is-primary is-large">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                Mess Data
            </a>
        </div>
        <div class="column button is-2 is-offset-1 is-primary is-large" style="width: 250px;">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <a href="{{ url_for('showStudents') }}">
                Complaints Data
            </a>
        </div>
    </div>
    </strong>
</div>

{% endblock %}