{% extends 'index.html' %}

{% block body %}

<div class="container">
    <div class="section">
        <table class="table is-fullwidth is-bordered is-striped" style="font-family: 'PT Mono', monospace;">
            <tr class="is-selected">
                <th>MESS ID</th>
                <th>NO. OF WORKERS</th>
            </tr>
            {% for i in info %}
                <tr>
                    <td>{{ i['MessID'] }}</td>
                    <td>{{ i['Workers'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}