{% extends 'index.html' %}

{% block body %}

<div class="container">
    <div class="section">
        <table class="table is-fullwidth is-bordered is-striped" style="font-family: 'PT Mono', monospace;">
            <tr class="is-selected">
                <th>ROLL NO.</th>
                <th>NAME</th>
                <th>DATE OF BIRTH</th>
                <th>BRANCH ID</th>
                <th>EMAIL</th>
            </tr>
            {% for i in info %}
                <tr>
                    <td>{{ i['RollNo'] }}</td>
                    <td>{{ i['First_Name'] + " " + i['Last_Name'] }}</td>
                    <td>{{ i['DOB'] }}</td>
                    <td>{{ i['BranchID'] }}</td>
                    <td>{{ i['email'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}