{% extends 'index.html' %}

{% block body %}

<section class="hero is-dark is-fullheight">
    <div class="container">
    <div class="hero-body">
    <form action="{{ url_for('showVisualizations') }}" method="post">
        <div class="field">
            <label for="question" class="label">
                <h1 class="title" style="color: aqua; font-family: 'Raleway', sans-serif;">
                    - Enter Course Code -
                </h1>
            </label>
        <div class="section" style="padding: 4px;"></div>
        <div class="has-text-centered">
        <input type="text" class="input" name="code"  id="code">
        <div class="section" style="padding: 8px;"></div>
        <input type="submit" class="button is-link"  value="Analyse">
        </div>
        </div>
    </form>
    </div>
    <div class="hero-body">
    <form action="{{ url_for('showVisualizations') }}" method="post">
        <div class="field">
            <label for="question" class="label">
                <h1 class="title" style="color: aqua; font-family: 'Raleway', sans-serif;">
                    - Enter Faculty ID -
                </h1>
            </label>
        <div class="section" style="padding: 4px;"></div>
        <div class="has-text-centered">
        <input type="text" class="input" name="facid"  id="facid">
        <div class="section" style="padding: 8px;"></div>
        <input type="submit" class="button is-link"  value="Analyse">
        </div>
        </div>
    </form>
    </div>
    </div>

</section>

{% endblock %}